---
layout: default
title: About
---

<div class="about-row-1">
  <h2>Basic Information: </h2>
  
  <img class="dp" src="{{ site.data.files.dp }}" alt="Rejoice that you don't have to see that">
  
  <table>
    {% for row in site.data.basic_info %}
    <tr>
      <td>{{ row.key }}: </td>
      <td>{{ row.value }}</td>
    </tr>
    {% endfor %}
  </table>

</div>



<div class="about-row-2">
  <h2>Emotional Test Scores: </h2>

  
  <table class="about-test-table">
    <tr class="header-row">
      <td>Test Name</td>
      <td>Avg. Score (out of 10)</td>
    </tr>
    {% for category in site.test_categories %}
      {% assign tests = site.tests | where:"category", category.name %}
      {% if tests.size > 0 %}
        <tr><td class="gap" colspan="2"></td></tr>
        <tr class="category-row">
          <td colspan="2">
            <a href="{{ category.url }}">{{ category.name | upcase }}</a>
          </td>
        </tr>
        {% assign total_score = 0 %}
        {% assign total_tests = tests.size %}
        {% for test in tests %}
          {% assign test_score = 0 %}
          {% for past_result in test.data %}
            {% assign score = past_result.score | times: 1.0 | minus: test.min_score %}
            {% assign diff = test.max_score | minus: test.min_score %}
            {% assign score = score | divided_by: diff | times: 10 %}
            {% assign test_score = test_score | plus: score %}
          {% endfor %}
          {% assign test_score = test_score | divided_by: test.data.size %}
          {% assign total_score = total_score | plus: test_score %}
          <tr>
            <td>
              <a href="{{ test.url }}">{{ test.name }}</a>
            </td>
            <td>{{ test_score | round: 2 }}</td>
          </tr>
        {% endfor %}
        <tr class="average-row">
          <td>Average</td>
          <td>
            {{ total_score | divided_by: total_tests | round: 2 }}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

<div id="bigFiveRadarContainer">
  <h2> Personality Type: </h2>
  <canvas id="bigFiveRadar"></canvas>
  {% for x in site.data.bigfive %}
    <h3>{{ x.category }} : </h3>
    <canvas id="b5{{ x.category }}"></canvas>
  {% endfor %}
</div>


<script>

  bg = []
  bd = []

  
  bg.push("{{ site.data.chart_colors.red.bg }}")
  bd.push("{{ site.data.chart_colors.red.bd }}")
  
  bg.push("{{ site.data.chart_colors.blue.bg }}")
  bd.push("{{ site.data.chart_colors.blue.bd }}")

  bg.push("{{ site.data.chart_colors.yellow.bg }}")
  bd.push("{{ site.data.chart_colors.yellow.bd }}")

  bg.push("{{ site.data.chart_colors.cyan.bg }}")
  bd.push("{{ site.data.chart_colors.cyan.bd }}")

  bg.push("{{ site.data.chart_colors.purple.bg }}")
  bd.push("{{ site.data.chart_colors.purple.bd }}")

  bg.push("{{ site.data.chart_colors.green.bg }}")
  bd.push("{{ site.data.chart_colors.green.bd }}")
  
  
  function mkChart(ctx, name, labels, data, mx, bg, bd) {
    return new Chart(ctx, {
    type: 'horizontalBar',
    data: {
      labels: labels,
      datasets: [{
        label: name,
        backgroundColor: bg,
        borderColor: bd,
        borderWidth: 1,
        data: data,
      }]
    },
    options: {
        scales: {
            xAxes: [{
                ticks: {
                  min: 0,
                  max: mx,
                }
            }],
            yAxes: [{
              ticks: {
                fontColor: '#eee',
                fontSize: 15,
                mirror: true
              }
            }]
        }
      },
    });
  }

  b5Labels = []
  b5Data = []

  {% for t in site.data.bigfive %}
    b5Labels.push("  {{ t.category }}")
    b5Data.push({{ t.score }})
  {% endfor %}


  var ctx = document.getElementById('bigFiveRadar');
  mkChart(ctx, 'Big Five', b5Labels, b5Data, 120, bg, bd)

  {% for t in site.data.bigfive %}
    var elem = document.getElementById("b5{{ t.category }}")
    lb = []
    dt = []
    {% for s in t.subclasses %}
      lb.push("  {{ s.category }}")
      dt.push({{ s.score }})
    {% endfor %}

    mkChart(elem, '{{ t.category }}', lb, dt, 20, bg, bd)
  {% endfor %}

  
</script>
