---
layout: default
title: About
---

<div class="about-row-1">
  <h2>Basic Information: </h2>
  
  <img class="dp" src="{{ site.data.files.dp }}" alt="Rejoice that you don't have to see that">
  
  <table>
    {% for row in site.data.basic_info %}
    <tr>
      <td>{{ row.key }}: </td>
      <td>{{ row.value }}</td>
    </tr>
    {% endfor %}
  </table>

</div>


<div class="about-row-2">
  <h2>Emotional Test Scores: </h2>
  <table class="about-test-table">
    <tr class="header-row">
      <td>Test Name</td>
      <td>Avg. Score (out of 10)</td>
    </tr>
    {% for category in site.test_categories %}
      {% assign tests = site.tests | where:"category", category.name %}
      {% if tests.size > 0 %}
        <tr><td class="gap" colspan="2"></td></tr>
        <tr class="category-row">
          <td colspan="2">
            <a href="{{ category.url }}">{{ category.name | upcase }}</a>
          </td>
        </tr>
        {% assign total_score = 0 %}
        {% assign total_tests = tests.size %}
        {% for test in tests %}
          {% assign test_score = 0 %}
          {% for past_result in test.data %}
            {% assign score = past_result.score | times: 1.0 %}
            {% assign score = score | divided_by: test.max_score %}
            {% assign score = score | times: 10 %}
            {% assign test_score = test_score | plus: score %}
          {% endfor %}
          {% assign test_score = test_score | divided_by: test.data.size %}
          {% assign total_score = total_score | plus: test_score %}
          <tr>
            <td>
              <a href="{{ test.url }}">{{ test.name }}</a>
            </td>
            <td>{{ test_score | round: 2 }}</td>
          </tr>
        {% endfor %}
        <tr class="average-row">
          <td>Average</td>
          <td>
            {{ total_score | divided_by: total_tests | round: 2 }}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>
  
