
.greeting {
    width: 55%;
    margin: 90px auto;
    text-align: center;

    h2 {
        font-weight: lighter;
        font-size: 55px;
    }

    h4 {
        margin-top: -30px;
        font-size: 25px;
        font-weight: 100;
    }
}