$text-color: white ;
$background-color: #101;

body {
    background-color: $background-color;
    color: $text-color;
    font-family: 'Open Sans', sans-serif, 'Roboto';
    min-width: 300px;
    font-weight: medium;

    a {
        text-decoration: none;
        color: yellow;
    }

    a:hover {
        color: whitesmoke;
    }
}


.main {
    width: 80%;
    margin: 0 auto;
    
}

@media only screen and (max-width: 600px) {

    .nav-bar .resume {
        text-align: left !important;
    }

    .main {
        width: 95%;
    }

    table {
        width: 90% !important;
    }

    .about-row-1 .dp {
        float: none !important;
        width: 90% !important;
    }

}

.nav-bar {
    $active-color: orange;
    $inactive-color: gold;
    $hover-color: rgba(255, 255, 255, 0.856);
    $resume: lavenderblush;
    $resume-hover: red;

    display: block;
    height: auto;
    padding: 10pt 0;
    // min-width: 300px;
    margin-bottom: 25px;
    font-weight: 700;
    
    .normal {
        float: left;
    }

    .resume {
        float: right;

        a {
            padding: 5px 10px;
            color: $resume !important;
            border-radius: 4px;
        }

        a:hover {
            color: $resume-hover !important;
        }
    }

    .current {
        color: $active-color !important;
        font-weight: 400;
    }
    
    a {
        color: $inactive-color;
        text-decoration: none;
        padding: 2px;
        margin: 10px 3px;
    }

    a:hover {
        color: $hover-color;
    }

}

