---
layout: default
---
<h1>{{ page.name }}</h1>
<p>{{ page.added_on | date_to_string }}</p>
<div>
    {% for item in page.data %}
        <h3>
            {{ item.score }} - {{ item.timestamp | date_to_string }}
        </h3>
    {% endfor %}
</div>


{{ content }}


<canvas id="myChart"></canvas>
<script>
    var x = [];
    var y = [];
    {% for item in page.data %}
        x.push(new Date({{ item.timestamp }} * 1000));
        y.push(({{ item.score }}).toFixed(2))
    {% endfor %}
    {% assign suggestedMin = page.min_score %}
    {% assign suggestedMax = page.max_score %}

    {% assign line_color = site.data.purple %}
    {% for category in site.test_categories %}
        {% if category.name == page.category %}
            {% assign line_color = site.data.chart_colors[category.color] %}
        {% endif %}
    {% endfor %}
        
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: x,
            datasets: [{
                label: 'Score',
                data: y,
                backgroundColor: '{{ line_color.bg }}',
                borderColor: '{{ line_color.bd }}',
                borderWidth: 2
            }]
        },
        options: {% include chart_options.js %},
    });
</script>